:root {
  --main: rgba(250, 199, 116, 1);
  --d-9d-9d-9: rgba(92, 54, 35, 1);
  --f-16623: rgba(241, 102, 35, 1);
  --collection-1-main-pallette: rgba(225, 111, 37, 1);
  --collection-1-color: rgba(255, 255, 255, 1);
}
